@{
    ViewData["Title"] = "Oficinas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Barcelona
</address>

<address>
    Buenos Aires
</address>

<address>
    Rio de Janeiro
</address>
